cloud_id                 = "<cloud_id>"
folder_id                = "<folder_id>"
image_id                 = "<image_id>"
subnet_id                = "<subnet_id>"
app_disk_image           = "<app_disk_image>"
db_disk_image            = "<db_disk_image>"
public_key_path          = "~/.ssh/yc.pub"
private_key_path         = "~/.ssh/yc"
service_account_key_file = "../key.json"
