cloud_id                 = "b1gbfkvfr5fAAAAAAAAA"
folder_id                = "b1gr93rlamsefpAAAAAA"
zone                     = "ru-central1-a"
image_id                 = "fd84e3kkke6j7AAAAAAA"
private_key_path         = "~/.ssh/yc"
public_key_path          = "~/.ssh/yc.pub"
subnet_id                = "e9bihbae82c2tAAAAAAA"
service_account_key_file = "key.json"
app_disk_image           = "fd85af0jaf8AAAAAAAAA"
db_disk_image            = "fd85s1m3haAAAAAAAAAA"
prov                     = true
